.offer-img {
  width: 50%;
  height: auto;
}
.admin-buttons {
  margin-top: 20px;
}


.image-input {
  width: 200px; /* Breite des Bildes */
  height: 200px; /* Höhe des Bildes */
  object-fit: cover; /* Optionales CSS für das Skalieren des Bildes */
}
