.logo {
  width: 40px;
  height: 40px;
  margin: 0px 10px 7px 0px;
}
.navbar-brand {
  font-size: 32px;
  font-weight: 400;
}
.nav-left-spacing {
  margin-left: 30px;
}
#question-wrapper {
  margin: 5% 10%;
  font-size: 20px;
}
