.gesamtmetrik {
    margin-bottom: 1rem;
  }
  
  .gesamtmetrik .progress-bar {
    background-color: #007bff; /* Standardfarbe für Metriken */
  }
  
  .gesamtmetrik.high .progress-bar {
    background-color: #28a745; /* Grüne Farbe für hohe Werte */
  }
  
  .gesamtmetrik.medium .progress-bar {
    background-color: #ffc107; /* Gelbe Farbe für mittlere Werte */
  }
  
  .gesamtmetrik.low .progress-bar {
    background-color: #dc3545; /* Rote Farbe für niedrige Werte */
  }
  