#questions-wrapper {
  position: relative;
  margin: 1% 17%;
  padding-top: 20px;
  font-size: 18px;
}
.loading {
  pointer-events: none;
  opacity: 0.5;
}

.info-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.left-info-popover {
  width: 500px;
  max-width: none;
  white-space: pre-line;
}
#star-info {
  display: inline-block;
  color: red;
}
.category-header {
  font-size: 20px;
  background-color: aquamarine;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}
.question-row {
  padding-left: 11%;
}
.question {
  margin-right: 30px;
}
.radio-group {
  padding-bottom: 10px;
}
.mandatory-star {
  color: red;
  margin-left: 5px;
  font-size: 20px;
}
.error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.yes-no-togglebtn {
  width: 70px;
}

.zur-auswertung-btn {
  float: right;
  margin-top: 15px;
  margin-bottom: 40px;
}
